<.header>
  New Food truck
  <:subtitle>Use this form to manage food_truck records in your database.</:subtitle>
</.header>

<.food_truck_form changeset={@changeset} action={~p"/food_trucks"} />

<.back navigate={~p"/food_trucks"}>Back to food_trucks</.back>
